/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #f7fffa;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    margin-top: 50px;
}

ul {
    padding-left: 0;
}

.div-full-width {
    width: 100%;
}

nav {
    font-family: 'Righteous', cursive;
}

.navbar-inverse {
    background-color: #044722;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-brand {
    font-size: 30px;
}

.form-control {
    width: 60%;
    display: inline;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
    overflow: visible;
}

.text-danger {
    display: block;
}

.word-list {
    list-style-type: none;
}

.user-letters {
    font-family: 'Righteous', cursive;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
